/tests/System/processed/
/tests/Integration/Importers/processed/
/tests/UI/processed-ui-screenshots/
vendor/**/tests
vendor/**/.travis.yml
vendor/**/.gitignore
vendor/**/*.md
vendor/**/.php_cs
vendor/**/.gitattributes
vendor/**/.editorconfig
vendor/**/phpunit.xml*
vendor/**/phpcs.xml*
vendor/**/composer.json
vendor/**/composer.lock
/vue/dist/demo.html
/vue/dist/*.common.js
/vue/dist/*.map
/vue/dist/*.development.*
