.table-command-link {
  font-size: 12px;
}

#importStatusContainer .modal .modal-no {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}

.importStatusesTable td.actions a:hover {
  text-decoration: none !important;
}

.importStatusesTable ul li {
  list-style-type: disc;
}